.project-box-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    width: 100%;

    align-items: center;

    padding: var(--spacing-sm) var(--spacing-l) var(--spacing-sm) var(--spacing-l);

    border-radius: 10px;
}

.project-box-subtitle {
    color: var(--text-secundary);

    font-weight: 500;
    font-size: var(--text-s);

    margin: 0;
}

.project-box-title {
    color: var(--color-primary-white);

    font-weight: 600;
    font-size: var(--text-m);

    margin: 0;
}

.project-box-redirect-section-container img {
    border-radius: 0;
}