.download-cv-button {
    border-radius: 50px;
    border: 2px solid var(--color-primary-white);

    background-color: var(--color-primary);
    color: var(--color-primary-white);

    padding: var(--spacing-m) var(--spacing-xl);

    font-family: var(--font-primary), serif;
    font-weight: 600;
    font-size: var(--text-m);

    cursor: pointer;
}