.header-component {
    background-color: var(--color-primary-header);
    padding: var(--spacing-m);
    display: flex;
}

.links-list {
    list-style-type: none;
    padding: var(--spacing-m) var(--spacing-l) var(--spacing-m) var(--spacing-l);
    margin: 0;
    display: flex;
    gap: var(--spacing-2xl);
}

.links-list a {
    text-decoration: none;
    color: var(--color-primary-white);
    font-size: var(--text-m);
    display: flex;
}