.get-in-touch-button {
    border-radius: 50px;
    border: 0;

    background-color: var(--color-primary-white);

    padding: var(--spacing-m) var(--spacing-xl);

    font-family: var(--font-primary), serif;
    font-weight: 600;
    font-size: var(--text-m);

    cursor: pointer;

    box-shadow: 0 2px 4px rgba(0, 0, 0, 1);
    transition: box-shadow 0.3s ease, transform 0.3s ease;

}

.get-in-touch-button:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 1);
    transform: translateY(-8px);
}