.footer-component-container {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--color-background-footer);

    padding: var(--spacing-2xl);

    margin-bottom: var(--spacing-2xl);
}

.footer-content-container {
    width: 50%;

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: flex-start;
}

.footer-content-title-container h3 {
    font-family: var(--font-primary), sans-serif;
    font-size: var(--text-xl);

    color: var(--color-primary-white);

    text-align: start;
}

.footer-content-description-container p {
    font-family: var(--font-primary), sans-serif;
    font-size: 1.25em;

    color: var(--text-secundary);

    margin: 0;
}

.footer-content-email-container {
    display: flex;
    gap: var(--spacing-xs);

    justify-content: center;
    align-items: center;

    padding-top: 0;

    cursor: pointer;
}

.footer-content-email-container p {
    font-family: var(--font-primary), sans-serif;
    font-size: 1.2em;

    color: var(--color-primary-white);
    opacity: 0.9;

    margin-top: var(--spacing-xs);
    margin-bottom: var(--spacing-xs);

    text-align: center;
    text-align-last: center;
}