@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root {
    --color-primary: #161513;
    --color-secondary: #2A2A2A;


    --color-primary-footer: #222222;

    --color-primary-white: #ffffff;

    --text-secundary: #C5C5C5;

    --spacing-xxs: 0.25rem;
    --spacing-xs: 0.5rem;

    --spacing-s: 0.75rem;
    --spacing-sm: 0.75rem;
    --spacing-small: 0.75rem;

    --spacing-m: 1rem;
    --spacing-md: 1rem;
    --spacing-medium: 1rem;

    --spacing-l: 1.5rem;
    --spacing-lg: 1.5rem;
    --spacing-large: 1.5rem;

    --spacing-xl: 2rem;
    --spacing-x-lg: 2rem;
    --spacing-x-large: 2rem;

    --spacing-1-point-5-xl: 3rem;
    --spacing-1-point-5-x-lg: 3rem;
    --spacing-1-point-5-x-large: 3rem;

    --spacing-2xl: 4rem;
    --spacing-2x-lg: 4rem;
    --spacing-2x-large: 4rem;


    --text-xxs: 0.25em;
    --text-xs: 0.5em;

    --text-s: 0.75em;
    --text-sm: 0.75em;
    --text-small: 0.75em;

    --text-m: 1em;
    --text-md: 1em;
    --text-medium: 1em;

    --text-l: 1.5em;
    --text-lg: 1.5em;
    --text-large: 1.5em;

    --text-xl: 2em;
    --text-x-lg: 2em;
    --text-x-large: 2em;

    --text-1-point-5-xl: 3em;
    --text-1-point-5-x-lg: 3em;
    --text-1-point-5-x-large: 3em;

    --text-2xl: 4em;
    --text-2x-lg: 4em;
    --text-2x-large: 4em;



    --font-primary: 'Poppins', sans-serif;
}

body {
    background-color: var(--color-primary);
    margin: 0;
    font-family: var(--font-primary), serif;
}